# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Build Assets Workflow

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout sources
      uses: actions/checkout@v3
    - name: Set up jdk-17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'
    - name: Setup npm/node-16
      uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: 'npm'
        cache-dependency-path: presentation/package.json
    - name: Render presentation
      run: >
        cd presentation
        npm update
        node convert.js
    - name: Build hello-world jar
      run: mvn -B deploy --file resources/hello-world/pom.xml
        

    
