# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Build Hello World Quarkus

on:
  push:
    branches:
      - main
    paths: 
      - resources/hello-world
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Builde hello-world JAR
      run: mvn -B clean install --file resources/hello-world/pom.xml

    - name: Upload JAR as artefact
      uses: actions/upload-artifact@v2
      with: 
        name: hello-world-quarkus
        path: esources/hello-world/target/hello-world-1.0.0-SNAPSHOT-runner.jar
